@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter",sans-serif;
}

html{
    height: 100%;
}

body{
    background-color: blue;
    height: 100%;
    margin: 0px;
}

#conteiner{
    background-color: brown;
    height: 100%;
    width: 100%;
}

#cima{
    height: 12.8%;
    width: 100%;
    background-color: forestgreen;
    display: flex;
}

#logo{
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
}

#vazio{
    height: 100%;
    width: 40%;
    background-color: white;
}

#servicos{
    height: 100%;
    width: 30%;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

#home{
    height: 45px;
    width: 90px;
    border: none;
    background: none;
    font-size: x-large;
    cursor: pointer;
}

#moedas{
    height: 45px;
    width: 100px;
    border: none;
    background: none;
    font-size: x-large;
    cursor: pointer;
}

#cadastro{
    height: 45px;
    width: 120px;
    border: none;
    background: none;
    font-size: x-large;
    cursor: pointer;
}

#vazioDireita{
    height: 100%;
    width: 15%;
    background-color: white;
}

#linha{
    height: 0.2%;
    width: 100%;
    background-color: black;
}

#vazio-cima{
    height: 8%;
    width: 100%;
    background-color: #CCE4CC;
}

#meio{
    height: 72%;
    width: 100%;
    background-color: red;
    display: flex;
}

#esquerda{
    height: 100%;
    width: 20%;
    background-color: #CCE4CC;
}

#interacao{
    height: 100%;
    width: 60%;
    background-color: red;
    display: flex;
}

.labels{
    margin-left: 5%;
    color: #9A9A9A;
}

#interacao-esquerda{
    height: 100%;
    width: 50%;
    background-color: blue;
}

#div-pagamento{
    height: 25%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
}

#pagamento{
    font-size: 25px;
}

#div-nome{
    height: 25%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
}

#nome{
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 5%;
}

#nome:focus{
    outline: none;
}

#div-numero{
    height: 25%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
}

#numero{
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 5%;
}

#numero:focus{
    outline: none;
}

#div-vazio{
    height: 25%;
    width: 100%;
    background-color: white;
}

#interacao-direita{
    height: 100%;
    width: 50%;
    background-color: white;
}

#div-vazioAlto{
    height: 25%;
    width: 100%;
    background-color: white;
}

#div-cvv{
    display: flex;
    height: 25%;
    width: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

#cvv{
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 5%;
}

#cvv:focus{
    outline: none;
}

#div-data{
    height: 25%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    display: flex;
    justify-content: center;
}

#data{
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    margin: 5%;
}

#data:focus{
    outline: none;
}

#div-continuar{
    display: flex;
    height: 25%;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
}

#botao-continuar{
    margin-right: 5%;
    border: 0px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: #356E34;
    color: white;
    cursor: pointer;
}

#direita{
    height: 100%;
    width: 20%;
    background-color: #CCE4CC;
}

#vazio-baixo{
    height: 7%;
    width: 100%;
    background-color: #CCE4CC;
}

