
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter",sans-serif;
}

dialog{
    border-radius: 10px;
}
html{
    height: 100%;
}
body{
    background-color: brown;
    height: 100%;
    margin: 0px;
}

#conteiner{
    height: 100%;
    width: 100%;
    background-color: yellow;
}

#cima{
    background-color: white;
    width: 100%;
    height: 12.8%;
}

#logo{
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
}

#cambioFloripa{
    height: 38px;
    width: 214;
}

#vazio{
    height: 100%;
    width: 85%;
    background-color: white;
}

#linha{
    background-color: black;
    width: 100%;
    height: 0.2%;
}

#cima-baixo{
    height: 10%;
    width: 100%;
    background-color: #CCE4CC;
}

#meio{
    background-color: #CCE4CC;
    width: 100%;
    height: 67%;
    display: flex;
}

#esquerda{
    background-color: #CCE4CC;
    height: 100%;
    width: 30%;
}

#interacao{
    background-color: #CCE4CC;
    height: 100%;
    width: 40%;
}

#texto{
    background-color: white;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
}

#sign-up{
    color: #9A9A9A;
    font-size: 40px;
}

#cpf{
    display: flex;
    background-color: white;
    height: 20%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: space-evenly;
}

#cpf-texto{
    color: #9A9A9A;
    font-size: 40px;
}

#inpt-cpf{
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#inpt-cpf:focus{
    outline: none;
}

#senha{
    display: flex;
    background-color: white;
    height: 20%;
    width: 100%; 
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: space-evenly;
}

#senha-texto{
    color: #9A9A9A;
    font-size: 40px;
}

#inpt-senha{
    width: 90%;
    height: 60px;
    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#inpt-senha:focus{
    outline: none;
}

#botao-login{
    display: flex;
    background-color: white;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 35px;
}

#botao{
    background-color: #356E34;
    color: white;
    font-size: 30px;
    border: 0px;
    height: 80px;
    width: 200px;
}

#direita{
    background-color: #CCE4CC;
    height: 100%;
    width: 30%;
}


#baixo{
    height: 10%;
    width: 100%;
    background-color: #CCE4CC;
} 

label{
    @font-face
}