html{

    height: 100%;

}

body{
    
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px;

}
#container{
    
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    
}
#cima{
    
    width: 100%;
    height: 17%;
    background-color: rgb(255, 255, 255);
    margin: 0px; 
    display: flex;
    
}
#topoEsquerdo{
    
    width: 19.8%;
    height: 100%;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    display: flex;
    padding-left: 15px;

}
#topoDireita{

    width: 81%;
    height: 100%;
    background-color: #ffffff;
    display: flex;

}
#bordinha{

    width: 100%;
    height: 0.2%;
    background-color: black;
    display: flex;
   
}
#Vazio{

    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
#Home{

    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
}
#Moedas{

    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
#Cadastro{

    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
#baixo{

    width: 100%;
    height: 82.8%;
    background-color: blue;
    display: flex;

}
#esquerda{

    width: 30%;
    height: 100%;
    background-color: blueviolet;

}
#comprar{

    width: 100%;
    height: 25%;
    background-color: darkgoldenrod;
    display: flex;

}
#vender{

    width: 100%;
    height: 25%;
    background-color: coral;
    display: flex;

}
#retirada{

    width: 100%;
    height: 25%;
    background-color: darkolivegreen;
    display: flex;

}
#delivery{

    width: 100%;
    height: 25%;
    background-color: rgb(58, 34, 70);
    display: flex;

}
#meio{

    width: 40%;
    height: 100%;
    background-color: saddlebrown;

}
#divComprar{

    display: block;
    background-color: aqua;
    width: 100%;
    height: 100%;

}
#divComprarTopo{

    width: 100%;
    height: 15%;
    background-color: saddlebrown;
    display: flex;

}
#comprarTopoEsquerda{

    width: 50%;
    height: 100%;
    background-color: rgb(58, 33, 15);
    justify-content: end;
    display: flex;

}
#comprarTopoDireita{

    width: 50%;
    height: 100%;
    background-color: rgb(28, 9, 58);
    

}
#divComprarAlto{

    width: 100%;
    height: 30%;
    background-color: darkgoldenrod;

}
#divComprarAltoCima{

    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;

}
#divIconeAlto{

    width: 30%;
    height: 100%;
    background-color: tomato;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
#imageSelectAlto{

    width: 50%;
    height: 100%;
    background-color: rgb(5, 7, 6);

}
#selectServicosAlto{

    width: 50%;
    height: 100%;
    background-color: rgb(52, 117, 85);

}
#divValorAlto{

    width: 70%;
    height: 100%;
    background-color: teal;
    display: flex;
    align-items: flex-end;

}
#divComprarAltoBaixo{

    width: 100%;
    height: 50%;
    background-color: violet;
    display: flex;

}
#divIconeBaixo{

    width: 30%;
    height: 100%;
    background-color: rgb(248, 146, 129);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
#imageSelectBaixo{

    width: 50%;
    height: 100%;
    background-color: springgreen;

}
#selectServicosBaixo{

    width: 50%;
    height: 100%;
    background-color: slateblue;

}
#divValorBaixo{

    width: 70%;
    height: 100%;
    background-color: rgb(4, 49, 49);
    display: flex;
    align-items: flex-end;

}
#divComprarMeio{

    display: flex;
    width: 100%;
    height: 40%;
    background-color: rgb(35, 10, 80);
    justify-content: center;
    padding-top: 20px;

}
#divComprarBaixo{

    display: flex;
    width: 100%;
    height: 11.4%;
    background-color: rgb(28, 9, 58);
    justify-content: center;

}
#divVender{
    display: none;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}
#divVenderTopo{

    width: 100%;
    height: 15%;
    background-color: saddlebrown;
    display: flex;

}
#venderTopoEsquerda{

    width: 50%;
    height: 100%;
    background-color: rgb(58, 33, 15);
    justify-content: end;
    display: flex;

}
#venderTopoDireita{

    width: 50%;
    height: 100%;
    background-color: rgb(28, 9, 58);
    

}
#divVenderAlto{

    width: 100%;
    height: 30%;
    background-color: darkgoldenrod;

}
#divVenderAltoCima{

    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;

}
#divVenderIconeAlto{

    width: 30%;
    height: 100%;
    background-color: tomato;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
#imageVenderSelectAlto{

    width: 50%;
    height: 100%;
    background-color: rgb(5, 7, 6);

}
#selectVenderServicosAlto{

    width: 50%;
    height: 100%;
    background-color: rgb(52, 117, 85);

}
#divVenderValorAlto{

    width: 70%;
    height: 100%;
    background-color: teal;
    display: flex;
    align-items: flex-end;

}
#divVenderAltoBaixo{

    width: 100%;
    height: 50%;
    background-color: violet;
    display: flex;

}
#divVenderIconeBaixo{

    width: 30%;
    height: 100%;
    background-color: rgb(248, 146, 129);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
#venderImageSelectBaixo{

    width: 50%;
    height: 100%;
    background-color: springgreen;

}
#bandeiraBranca{

    display: block;
    width: 100%;
    height: 100%;

}
#bandeiraUSD{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBRL{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraISO{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraCLP{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraGPB{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBranca2{

    display: block;
    width: 100%;
    height: 100%;
}
#bandeiraUSD2{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBRL2{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraISO2{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraCLP2{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraGPB2{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBranca3{

    display: block;
    width: 100%;
    height: 100%;

}
#bandeiraUSD3{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBRL3{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraISO3{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraCLP3{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraGPB3{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBranca4{

    display: block;
    width: 100%;
    height: 100%;

}
#bandeiraUSD4{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraBRL4{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraISO4{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraCLP4{

    display: none;
    width: 100%;
    height: 100%;

}
#bandeiraGPB4{

    display: none;
    width: 100%;
    height: 100%;

}
#selectVenderServicosBaixo{

    width: 50%;
    height: 100%;
    background-color: slateblue;

}
#divVenderValorBaixo{

    width: 70%;
    height: 100%;
    background-color: rgb(4, 49, 49);
    display: flex;
    align-items: flex-end;

}
#divVenderMeio{

    display: flex;
    width: 100%;
    height: 40%;
    background-color: rgb(35, 10, 80);
    justify-content: center;
    padding-top: 20px;

}
#divVenderBaixo{

    display: flex;
    width: 100%;
    height: 11.4%;
    background-color: rgb(28, 9, 58);
    justify-content: center;

}
#divRetirada{

    display: none;
    background-color: rgb(243, 14, 14);
    width: 100%;
    height: 96%;

}
#divDelivery{

    display: none;
    background-color: rgb(240, 224, 3);
    width: 100%;
    height: 96%;

}
#divCartao{

    display: none;
    background-color: rgb(35, 238, 8);
    width: 100%;
    height: 96%;

}
#divLocalizacao{

    display: none;
    background-color: rgb(240, 7, 189);
    width: 100%;
    height: 100%;

}
#divMoedas{

    display: none;
    background-color: rgb(81, 8, 252);
    width: 100%;
    height: 100%;

}
#Direita{

    width: 30%;
    height: 100%;
    background-color: red;


}
#cartaoPrePago{

    width: 100%;
    height: 25%;
    background-color: grey;
    display: flex;

}
#localizacao{

    width: 100%;
    height: 25%;
    background-color: darkcyan;
    display: flex;

}
#vender2{

    width: 100%;
    height: 25%;
    background-color: darksalmon;
    display: flex;

}
#moedas2{

    width: 100%;
    height: 25%;
    background-color: orangered;
    display: flex;

}
.DivBotaoMenu{

    display: flex;
    justify-content: center;
    align-items: center;

}
.BotoesMenu{

    border: none;
    background: none;
    font-size: x-large;

}
.BotaoPreto{

    width: 125px;
    height: 30px;
    border: none;
    color: white;
    background: #0E0E0E;
    border-radius: 100px;
    font-size: x-large;

}
.retangulos{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    padding-left: 80px;

}
.icones{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-right: 30px;
    margin-left: -50px;
    margin-top: 10px;
    

}
.BotoesSer{

    border: none;
    background: none;
    font-size: x-large;
    margin-left: -200px;
    margin-top: -70px;

}
.botaoComprar{

    width: 450px;
    height: 50px;
    border-color: #0E0E0E;
    color: white;
    background: #356E34;
    border-radius: 20px;
    font-size: x-large; 

}
.menuTaxas{

    width: 450px;
    height: 170px;
    color: white;
    background: #D9D9D9;
    border-radius: 5px;
    font-size: x-large; 
    border: none;


}
.valorServicos{

    font-size: 25px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    outline: none;
    width: 300px;
    height: 40px;


}
.selectServicos{

    width: 50px;
    height: 50px;
    border: none;
    background: none;

}
.botaoDivComprar{

    width: 270px;
    height: 50px;
    border-color: #0E0E0E;
    color: rgb(255, 255, 255);
    background: #039900;;
    font-size: x-large; 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
.botaoDivVender{
    
    width: 270px;
    height: 50px;
    border-color: #0E0E0E;
    color: rgb(0, 0, 0);
    background: #ffffff;
    font-size: x-large; 
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}
.botaoDivComprar1{

    width: 270px;
    height: 50px;
    border-color: #0E0E0E;
    color: rgb(255, 255, 255);
    background: #039900;;
    font-size: x-large; 
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    
}
.botaoDivVender1{
    
    width: 270px;
    height: 50px;
    border-color: #0E0E0E;
    color: rgb(0, 0, 0);
    background: #ffffff;
    font-size: x-large; 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
.EmBreve{

    justify-content: center;
    align-self: center;
    display: flex;
    padding-top: 220px;

}
.iconesPaises{

    width: 70px;
    height: 50px;
    justify-content: center;
    align-self: center;
    display: flex;
    padding-left: 5px;

}


label{
    font-family: sans-serif;
}
 