html{

    height: 100%;

}

body{
    
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px;

}
#container{
    
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    
}
#cima{
    
    width: 100%;
    height: 17%;
    background-color: rgb(255, 255, 255);
    margin: 0px; 
    display: flex;
    
}
#topoEsquerdo{
    
    width: 19.8%;
    height: 100%;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    display: flex;
    padding-left: 15px;

}
#topoDireita{

    width: 81%;
    height: 100%;
    background-color: #ffffff;
    display: flex;

}
#bordinha{

    width: 100%;
    height: 0.2%;
    background-color: black;
    display: flex;
   
}
#Vazio{

    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
#Home{

    width: 12.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
}
#Moedas{

    width: 12.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
#Cadastro{

    width: 12.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
#SingUp{

    width: 12.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
}
#baixo{

    width: 100%;
    height: 83%;
    background-color: rgb(255, 255, 255);
    
}
#baixoSuperior{

    width: 100%;
    height: 70%;
    background-color: #ffffff;
    display: flex;
}

#baixoSuperiorEsquerdo{

    width: 60%;
    height: 100%;
    background-color: #ffffff;
    font-size: 50px;
    font-family: Inter;
    font-weight: 700;
    line-height: 50.788px;
    letter-spacing: 0.493px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

}
#baixoSuperiorDireito{

    width: 40%;
    height: 89%;
    background-color: rgb(255, 255, 255);
    justify-content: end;
    align-items: end;
    flex-direction: column;
    display: flex;
    padding-right: 15px;  

}
#baixoInferior{

    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    display: flex;
    
}
#baixoInferiorEsquerdo{

    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 50px; 

}
#baixoInferiorDireito{

    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
.DivBotaoMenu{

    display: flex;
    justify-content: center;
    align-items: center;

}
.BotoesMenu{

    border: none;
    background: none;
    font-size: x-large;

}
.BotaoPreto{

    width: 125px;
    height: 30px;
    border: none;
    color: white;
    background: #0E0E0E;
    border-radius: 100px;
    font-size: x-large;

}

label{
    font-family: sans-serif;
}
