@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter",sans-serif;
}

html{
    height: 100%;
}

body{
    background-color: blue;
    height: 100%;
    margin: 0px;
}

#conteiner{
    background-color: brown;
    height: 100%;
    width: 100%;
}

#cima{
    height: 12.8%;
    width: 100%;
    background-color: forestgreen;
    display: flex;
}

#logo{
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
}

#vazio{
    height: 100%;
    width: 40%;
    background-color: white;
}

#servicos{
    height: 100%;
    width: 30%;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

#home{
    height: 45px;
    width: 90px;
    border: none;
    background: none;
    font-size: x-large;
    cursor: pointer;
}

#moedas{
    height: 45px;
    width: 100px;
    border: none;
    background: none;
    font-size: x-large;
    cursor: pointer;
}

#cadastro{
    height: 45px;
    width: 120px;
    border: none;
    background: none;
    font-size: x-large;
    cursor: pointer;
}

#vazioDireita{
    height: 100%;
    width: 15%;
    background-color: white;
}

#linha{
    height: 0.2%;
    width: 100%;
    background-color: black;
}

#cima-vazio{
    height: 8%;
    width: 100%;
    background-color: #CCE4CC;
}

#meio{
    height: 72%;
    width: 100%;
    background-color: red;
    display: flex;
}

#esquerda{
    height: 100%;
    width: 15%;
    background-color: #CCE4CC;
}

#interacao{
    height: 100%;
    width: 70%;
    background-color: wheat;
}

#interacao-cima{
    height: 30%;
    width: 100%;
    background-color: blue;
    display: flex;
}

#div-pix{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    align-items: center;
}

#codigo-pix{
    border-radius: 10px;
    border: none;
    background-color: #CCE4CC;
    color: #004AAD;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 170px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

#div-qrcode{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
}

#qrcode{
    border-radius: 10px;
    background-color: #CCE4CC;
    color: #004AAD;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 170px;
    box-shadow: 2px 2px 2px black;
    border: none;
}

#interacao-meio{
    height: 40%;
    width: 100%;
    background-color: red;
    display: flex;
}

#div-codico{
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
}

#codico{
    margin-top: 50px;
    margin-left: 170px;
}

#div-code{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: white;
    justify-content: flex-start;
}

#imagem{
    margin-top: 50px;
    margin-left: 170px;
    height: 250px;
    width: 250px;
}

#interacao-baixo{
    display: flex;
    height: 30%;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
}

#voltar{
    margin-left: 170px;
    color: #9A9A9A;
    background-color: white;
    border: none;
    height: 45px;
    width: 90px;
    font-size: 20px;
    cursor: pointer;
}

#direita{
    height: 100%;
    width: 15%;
    background-color: #CCE4CC;
}

#baixo-vazio{
    height: 7%;
    width: 100%;
    background-color: #CCE4CC;
}